- content_for :extra_javascript do
  :javascript
    (function() {
      ST.initializeRadioButtons({
        buttons: [".js-confirm-radio-button", ".js-cancel-radio-button"],
        input: ".js-confirmation-status",
        callback: function(selector) {
          switch(selector) {
            case ".js-confirm-radio-button":
            $(".confirm-description").removeClass("hidden");
            $(".cancel-description").addClass("hidden");
            break;
            case ".js-cancel-radio-button":
            $(".cancel-description").removeClass("hidden");
            $(".confirm-description").addClass("hidden");
            break;
          }
        }
      })
    })();

- content_for :title_header do
  %h1= t("layouts.no_tribe.inbox")

.centered-section.conversation-status-form
  = form_for form, :url => form_action, :html => { :method => "put" } do |form|
    - if can_be_confirmed

      %input.js-confirmation-status{type: :hidden, name: "listing_conversation[status]", value: action_type == "complete" ? "completed" : "completed"}

      %a#confirm-action-link.radio-button-positive.js-confirm-radio-button{ data: { :"radio-button-value" => "completed" }, class: action_type == "complete" ? "radio-button-selected" : "" }
        .radio-button-icon{class: icon_for("confirmed")}
        .radio-button-label= t("conversations.confirm.confirm")
      %a#cancel-action-link.radio-button-negative.js-cancel-radio-button{ data: { :"radio-button-value" => "completed" }, class: action_type == "dispute" ? "radio-button-selected" : "" }
        .radio-button-icon{class: icon_for("canceled")}
        .radio-button-label= t("conversations.confirm.cancel")

      .conversation-action-description
        %div{:class => "confirm-description #{action_type.eql?('complete') ? '' : 'hidden'}"}
          = t("conversations.confirm.confirm_description")
        %div{:class => "cancel-description #{action_type.eql?('dispute') ? '' : 'hidden'}"}
          = t("conversations.confirm.owner_dispute_description").html_safe

    - else

      %h2= t("conversations.confirm.canceling_payed_transaction")

      .conversation-action-description
        = t("conversations.confirm.cancel_payed_description")

      = fields_for :message, message_form do |message_form|
        = message_form.label :content, t("conversations.new.message"), :class => "input"
        = message_form.text_area :content, :class => "text_area", :placeholder => t("conversations.accept.optional_message")

      = form.hidden_field :status, :value => "canceled"

    - if @current_community.testimonials_in_use
      .close-listing-radio-buttons

        .checkbox-container
          = radio_button_tag "give_feedback", true, true, :id => "do_give_feedback"
          = label_tag "do_give_feedback", t("conversations.confirm.give_feedback_to", :person_link => link_to(other_person[:display_name], person_path(other_person[:username]))).html_safe, :class => "radio"

        .checkbox-container
          = radio_button_tag "give_feedback", false, false, :id => "do_not_give_feedback"
          = label_tag "do_not_give_feedback", t("conversations.confirm.do_not_give_feedback"), :class => "radio"

    %div{:class => "confirm-description #{action_type.eql?('confirm') ? '' : 'hidden'}"}
      = form.button t("conversations.confirm.continue"), :class => "send_button", :id => "send_testimonial_button"
    %div{:class => "cancel-description #{action_type.eql?('dispute') ? '' : 'hidden'}"}
      = form.button t("conversations.confirm.resolve"), :class => "send_button", :id => "send_testimonial_button"
